.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addTodoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input, button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.todo {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  margin: 7px;
  display: flex;
  flex-direction: column;
}